* { margin: 0; padding; 0; }
p { min-height: 1.5em; }
.row { display: inline-block; max-width: 100%;  overflow: hidden; }
.mark { background-color: #555 !important; color: #fff; }
.mark:hover { background-color: #555; color: #ff0; }
.long { white-space: nowrap; text-overflow: ellipsis; }
.clickable { cursor: pointer; margin: .3em; }
.clickable:hover { background-color: #ffa; }
.cache-status { font-family: mono; text-align: right; background-color: #fee; }
